.row{
    /* background-image:url("/src/Image/ks-rental.jpeg");q */
    overflow: hidden;
    background-position: center;
    margin-left: 0px;
    width: 100%;
    background-size: cover;
    position: relative;
}
.bg-video{
    margin: 0;
    padding: 0;
        height: 100%;
        width: 100%;
        float: left;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: none;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        }
